body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0px;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bingo-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 100px;
}

.input-section,
.button-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3px;
}

.inputContainer {
    position: relative;
    margin-bottom: 10px;
}

#nickname-input {
    border: none;
    border-radius: 10px;
    padding-top: 25px;
    padding-left: 11px;
    padding-right: 11px;
    font-size: 23px;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: 50px;
    width: 170px;
    background-color: #f3f3f3;
    transition: background-color 0.3s ease;
}

#password-input {
    border: none;
    border-radius: 10px;
    padding-top: 25px;
    padding-left: 11px;
    padding-right: 11px;
    font-size: 23px;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: 50px;
    width: 170px;
    background-color: #f3f3f3;
    transition: background-color 0.3s ease;
}

.inputContainer label {
    position: absolute;
    top: 5.5px;
    left: 7px;
    font-size: 12px;
    color: #999;
}

#nickname-input:hover {
    background-color: #ebebeb;
}

#login-button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #5472b8;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#login-button:hover {
    background-color: #3f5d99;
}

#signup-link {
    cursor: pointer; 
    color: gray; 
    text-decoration: underline;
}