body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0px;
}

form {
    width: 250px;
    margin: 20px auto;
    padding: 40px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 15px;
}

label {
    display: inline;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
}

.errorMessage {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#signup-button {
    background-color: #5472b8;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

#signup-button:hover {
    background-color: #4a65af;
}

#checkNickname {
    float: right;
}