<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login.css">
    <script src="https://cdn.socket.io/4.2.0/socket.io.js"></script>
    <script src="/static/login.js" defer></script>
    <title>Login - Online Bingo Game</title>
</head>
<body>
    <div class="center-content">
        <h1 class="bingo-title">빙고게임</h1>

        <div class="input-section">
            <div class="inputContainer">
                <input id="nickname-input" type="text" />
                <label for="nickname-input">닉네임</label>
            </div>
            <div class="inputContainer">
                <input id="password-input" type="password" />
                <label for="password-input">비밀번호</label>
            </div>
        </div>

        <div>
            <span id="signup-link" onclick="moveSignupPage()">회원가입</span>
        </div>

        <div class="button-section">
            <button id="login-button" onclick="login()">입장!</button>
        </div>
    </div>
</body>
</html>
