<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.socket.io/4.2.0/socket.io.js"></script>
    <script src="/static/mypage.js" defer></script>
    <title>My Page - Online Bingo Game</title>
</head>
<body>
    <div id="my-page">
    <div class="profile-section">
        <div class="profile-picture">
            <!-- Profile picture will go here -->
        </div>
        <div class="profile-info">
            <h2 id="user-nickname">Nickname</h2>
            <h3>전적</h3>
            <p id="record">0승 0패</p>
        </div>
    </div>
    <button id="start-button">게임시작</button>
    <!-- <script src="/static/socket.io.min.js"></script> -->
    </div>
</body>
</html>
